parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    tmpDir: tmp/
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        -
            message: '#Variable property access on#'
            path: src/Query/Field.php
        -
            message: '#Dynamic call to static method(.*)#'
            path: tests/Acceptance/FilterTest.php